table, td, th {
    border:1px black;
    border-collapse: collapse;
    padding: 10px;}

    
   
    
    body {
        font-family: Helvetica;
    }
    * {background: linear-gradient(#a5daf8, #7593d3)}
    

